# For Podman Quad
# To be placed in /etc/containers/systemd/users/3010/reverse-proxy.container
#
# Debug rendering with:
#  /usr/lib/systemd/user-generators/podman-user-generator --dryrun
#
# sudo systemctl daemon-reload
# systemctl list-unit-files
# systemctl start reverse-proxy
#
# sudo systemctl --user -M revproxy@ status reverse-proxy

[Service]
# Allows long image download time
TimeoutStartSec=900

# Implied by systemd users/3010
#User=revproxy
#Group=revproxy

[Container]
Image = @NGINX_IMAGE@

ContainerName=reverse-proxy
Environment=TZ=Europe/Copenhagen
PublishPort=10080:10080
PublishPort=10443:10443
Volume=/usr/share/mada/reverse-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
# The entry-point scripts set up IPV6. Kill that
Tmpfs=/docker-entrypoint.d

GlobalArgs=--log-level=warn
PodmanArgs=--net=pasta:-T,11443,--outbound,10.11.12.13,--ipv4-only --cidfile=/var/run/user/3010/reverse-proxy.cid

[Unit]
# Cannot depend on root service. Instead relies on reverse-proxy-prep comes before podman-user-wait-network-online.service
#Requires=reverse-proxy-prep.service
#After=reverse-proxy-prep.service

[Install]
WantedBy=default.target
